---
layout: archive
permalink: /tag-quotes/
title: Quotes Tag
---

{% assign rawtags = "" %}
{% for post in site.quotes %}
  {% assign posttags = post.tags | join: '|' %}
  {% assign rawtags = rawtags | append: posttags | append: '|' %}
{% endfor %}
{% assign rawtags = rawtags | split: '|' | sort %}

{% assign tags = "" %}
{% for tag in rawtags %}
  {% unless tag == "" or tags contains tag %}
    {% unless tags contains tag %}
      {% assign tags = tags | append: tag | append: '|' %}
    {% endunless %}
  {% endunless %}
{% endfor %}
{% assign tags = tags | split: '|' %}

{% assign rawtags = nil %}

<div class="posts">
  <p>
    {% for tag in tags %}
      <a href="#{{ tag | slugify }}" class="codinfox-tag-mark">{% colorize tag %}</a> &nbsp;&nbsp;
    {% endfor %}
  </p>

  {% for tag in tags %}
    <h2 id="{{ tag | slugify }}">{% colorize tag %}</h2>
    <ul class="codinfox-category-list">
      {% for post in site.quotes %}
        {% if post.tags contains tag %}
          <li>
            <h3>
              <a href="{{ post.url }}">
                <small>{{ post.date | date_to_string }}</small>
                {{ post.title }}
              </a>
            </h3>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endfor %}
</div>
