---
layout: archive
permalink: /tag-compilation/
title: Compilations Tag
---

{% assign rawTags = "" %}
{% for post in site.compilation %}
  {% assign posttags = post.tags | join: '|' %}
  {% assign rawTags = rawTags | append: posttags | append: '|' %}
{% endfor %}
{% assign rawTags = rawTags | split: '|' %}

{% assign tags = "" %}
{% for tag in rawTags %}
  {% unless tag == "" or tags contains tag %}
    {% assign tags = tags | append: tag | append: '|' %}
  {% endunless %}
{% endfor %}
{% assign tags = tags | split: '|' | sort %}

{% assign rawTags = nil %}

<div class="posts">
  <p>
    {% assign lineColor = tags | first | getColor %}
    {% for tag in tags %}
      {% assign curColor = tag | get_color %}
      {% unless lineColor == curColor %}
        <br />
        <br />
        {% assign lineColor = curColor %}
      {% endunless %}
    
      <a href="#{{ tag | slugify }}" class="codinfox-tag-mark">{{tag | colorize}}</a> &nbsp;&nbsp;
    {% endfor %}
  </p>

  {% for tag in tags %}
    <h2 id="{{ tag | slugify }}">{{ tag | colorize }}</h2>
    <ul class="codinfox-category-list">
      {% for post in site.compilation %}
        {% if post.tags contains tag %}
          <li>
            <h3>
              <a href="{{ post.url }}">
                <small>{{ post.date | date_to_string }}</small>
                {{ post.title }}
              </a>
            </h3>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endfor %}
</div>