{% comment %}
{% include base_path %}

{% assign sorted_events = site.events | sort_by_date %}
{% unless sorted_events.size <= 1 %}
  <nav class="pagination">
    {% for event in sorted_events %}
      {% if event.url == page.url %}
        {% unless forloop.first %}
          {% assign previous_index = forloop.index0 | minus: 1 %}
          {% assign previous_page = sorted_events[previous_index] %}
          <a href="{{ base_path }}{{ previous_page.url }}" class="pagination--pager" title="{{ previous_page.title | markdownify | strip_html }}">
            {{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}
          </a>
        {% else %}
          <a href="#" class="pagination--pager disabled">
            {{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}
          </a>
        {% endunless %}

        {% unless forloop.last %}
          {% assign next_index = forloop.index0 | plus: 1 %}
          {% assign next_page = sorted_events[next_index] %}
          <a href="{{ base_path }}{{ next_page.url }}" class="pagination--pager" title="{{ next_page.title | markdownify | strip_html }}">
            {{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}
          </a>
        {% else %}
          <a href="#" class="pagination--pager disabled">
            {{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}
          </a>
        {% endunless %}
      {% endif %}
    {% endfor %}
  </nav>
{% endunless %}
{% endcomment %}

{% include base_path %}

{% if page.previous or page.next %}
  <nav class="pagination">
    {% if page.previous %}
      <a href="{{ base_path }}{{ page.previous.url }}" class="pagination--pager" title="{{ page.previous.title | markdownify | strip_html }}">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</a>
    {% else %}
      <a href="#" class="pagination--pager disabled">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</a>
    {% endif %}
    {% if page.next %}
      <a href="{{ base_path }}{{ page.next.url }}" class="pagination--pager" title="{{ page.next.title | markdownify | strip_html }}">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</a>
    {% else %}
      <a href="#" class="pagination--pager disabled">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</a>
    {% endif %}
  </nav>
{% endif %}