/* ==========================================================================
   BASE ELEMENTS
   ========================================================================== */
html {
  /* sticky footer fix */
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  padding-bottom: 9em;
  color: $text-color;
  font-family: $global-font-family;
  line-height: 1.5;

  &.overflow--hidden {
    /* when primary navigation is visible, the content in the background won't scroll */
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2em 0 0.5em;
  line-height: 1.2;
  font-family: $header-font-family;
  font-weight: bold;
}

h1 {
  margin-top: 0;
  font-size: $type-size-3;
}

h2 {
  font-size: $type-size-4;
}

h3 {
  font-size: $type-size-5;
}

h4 {
  font-size: $type-size-6;
}

h5 {
  font-size: $type-size-6;
}

h6 {
  font-size: $type-size-6;
}

small,
.small {
  font-size: $type-size-6;
}

p {
  margin-bottom: 1.3em;
}

u,
ins {
  text-decoration: none;
  border-bottom: 1px solid $text-color;
  a {
    color: inherit;
  }
}

del a {
  color: inherit;
}

/* reduce orphans and widows when printing */

p,
pre,
blockquote,
ul,
ol,
dl,
figure,
table,
fieldset {
  orphans: 3;
  widows: 3;
}

/* abbreviations */

abbr[title],
abbr[data-original-title] {
  text-decoration: none;
  cursor: help;
  border-bottom: 1px dotted $text-color;
}

/* blockquotes */

blockquote {
  margin: 2em 1em 2em 0;
  padding-left: 1em;
  padding-right: 1em;
  font-style: italic;
  border-left: 0.25em solid $primary-color;

  cite {
    font-style: italic;

    &:before {
      content: "\2014";
      padding-right: 5px;
    }
  }
}

/* links */

a {
  &:focus {
    @extend %tab-focus;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}

/* code */

tt,
code,
kbd,
samp,
pre {
  font-family: $monospace;
}

pre {
  overflow-x: auto; /* add scrollbars to wide code blocks*/
}

p > code,
a > code,
li > code,
figcaption > code,
td > code {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  font-size: $type-size-6;
  background: $code-background-color;
  border: 1px solid $lighter-gray;
  border-radius: $border-radius;
  box-shadow: $box-shadow;

  &:before,
  &:after {
    letter-spacing: -0.2em;
    content: "\00a0"; /* non-breaking space*/
  }
}

/* horizontal rule */

hr {
  display: block;
  margin: 1em 0;
  border: 0;
  border-top: 1px solid $border-color;
}

/* lists */

ul li,
ol li {
  margin-bottom: 0.5em;
}

li ul,
li ol {
  margin-top: 0.5em;
}

/*
   Media and embeds
   ========================================================================== */

/* Figures and images */

figure {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 2em 0;

  img,
  iframe,
  .fluid-width-video-wrapper {
    margin-bottom: 1em;
  }

  img {
    width: 100%;
    border-radius: $border-radius;
    -webkit-transition: $global-transition;
    transition: $global-transition;
  }

  > a {
    display: block;
  }

  &.half {
    > a,
    > img {
      @include breakpoint($small) {
        width: calc(50% - 0.5em);
      }
    }

    figcaption {
      width: 100%;
    }
  }

  &.third {
    > a,
    > img {
      @include breakpoint($small) {
        width: calc(33.3333% - 0.5em);
      }
    }

    figcaption {
      width: 100%;
    }
  }
}

/* Figure captions */

figcaption {
  margin-bottom: 0.5em;
  color: mix(#fff, $text-color, 25%);
  font-family: $caption-font-family;
  font-size: $type-size-6;

  a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid $light-gray;
    -webkit-transition: $global-transition;
    transition: $global-transition;

    &:hover {
      color: #000;
      border-bottom-color: #000;
    }
  }
}

/* Fix IE9 SVG bug */

svg:not(:root) {
  overflow: hidden;
}

/*
   Navigation lists
   ========================================================================== */

/**
 * Removes margins, padding, and bullet points from navigation lists
 *
 * Example usage:
 * <nav>
 *    <ul>
 *      <li><a href="#link-1">Link 1</a></li>
 *      <li><a href="#link-2">Link 2</a></li>
 *      <li><a href="#link-3">Link 3</a></li>
 [<64;251;24M[<64;251;24M[<64;251;24M]]]*    </ul>
 *  </nav>
 */

nav {
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  /* override white-space for nested lists */
  ul li,
  ol li {
    margin-bottom: 0;
  }

  li ul,
  li ol {
    margin-top: 0;
  }
}

/*
   Global animation transition
   ========================================================================== */

b,
i,
strong,
em,
blockquote,
p,
q,
span,
figure,
img,
h1,
h2,
header,
input,
a,
tr,
td,
form button,
input[type="submit"],
.btn,
.highlight,
.archive__item-teaser {
  -webkit-transition: $global-transition;
  transition: $global-transition;
}

/*
  Custom styles
  ========================================================================== */

.para-divider {
  background-image: url("/images/Z.jpg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  height: 60px;
}

.page__content p {
  padding: 0.65em 0;
  margin: 0;

  &:first-of-type {
    padding-top: 0;
  }
}

$color-map: (
  "aliceblue": #f0f8ff,
  "antiquewhite": #faebd7,
  "aqua": #00ffff,
  "aquamarine": #7fffd4,
  "azure": #f0ffff,
  "beige": #f5f5dc,
  "bisque": #ffe4c4,
  "black": #000000,
  "blanchedalmond": #ffebcd,
  "blue": #0000ff,
  "blueviolet": #8a2be2,
  "brown": #a52a2a,
  "burlywood": #deb887,
  "cadetblue": #5f9ea0,
  "chartreuse": #7fff00,
  "chocolate": #d2691e,
  "coral": #ff7f50,
  "cornflowerblue": #6495ed,
  "cornsilk": #fff8dc,
  "crimson": #dc143c,
  "cyan": #00ffff,
  "darkblue": #00008b,
  "darkcyan": #008b8b,
  "darkgoldenrod": #b8860b,
  "darkgray": #a9a9a9,
  "darkgreen": #006400,
  "darkgrey": #a9a9a9,
  "darkkhaki": #bdb76b,
  "darkmagenta": #8b008b,
  "darkolivegreen": #556b2f,
  "darkorange": #ff8c00,
  "darkorchid": #9932cc,
  "darkred": #8b0000,
  "darksalmon": #e9967a,
  "darkseagreen": #8fbc8f,
  "darkslateblue": #483d8b,
  "darkslategray": #2f4f4f,
  "darkslategrey": #2f4f4f,
  "darkturquoise": #00ced1,
  "darkviolet": #9400d3,
  "deeppink": #ff1493,
  "deepskyblue": #00bfff,
  "dimgray": #696969,
  "dimgrey": #696969,
  "dodgerblue": #1e90ff,
  "firebrick": #b22222,
  "floralwhite": #fffaf0,
  "forestgreen": #228b22,
  "fuchsia": #ff00ff,
  "gainsboro": #dcdcdc,
  "ghostwhite": #f8f8ff,
  "gold": #ffd700,
  "goldenrod": #daa520,
  "gray": #808080,
  "green": #008000,
  "greenyellow": #adff2f,
  "grey": #808080,
  "honeydew": #f0fff0,
  "hotpink": #ff69b4,
  "indianred": #cd5c5c,
  "indigo": #4b0082,
  "ivory": #fffff0,
  "khaki": #f0e68c,
  "lavender": #e6e6fa,
  "lavenderblush": #fff0f5,
  "lawngreen": #7cfc00,
  "lemonchiffon": #fffacd,
  "lightblue": #add8e6,
  "lightcoral": #f08080,
  "lightcyan": #e0ffff,
  "lightgoldenrodyellow": #fafad2,
  "lightgray": #d3d3d3,
  "lightgreen": #90ee90,
  "lightgrey": #d3d3d3,
  "lightpink": #ffb6c1,
  "lightsalmon": #ffa07a,
  "lightseagreen": #20b2aa,
  "lightskyblue": #87cefa,
  "lightslategray": #778899,
  "lightslategrey": #778899,
  "lightsteelblue": #b0c4de,
  "lightyellow": #ffffe0,
  "lime": #00ff00,
  "limegreen": #32cd32,
  "linen": #faf0e6,
  "magenta": #ff00ff,
  "maroon": #800000,
  "mediumaquamarine": #66cdaa,
  "mediumblue": #0000cd,
  "mediumorchid": #ba55d3,
  "mediumpurple": #9370db,
  "mediumseagreen": #3cb371,
  "mediumslateblue": #7b68ee,
  "mediumspringgreen": #00fa9a,
  "mediumturquoise": #48d1cc,
  "mediumvioletred": #c71585,
  "midnightblue": #191970,
  "mintcream": #f5fffa,
  "mistyrose": #ffe4e1,
  "moccasin": #ffe4b5,
  "navajowhite": #ffdead,
  "navy": #000080,
  "oldlace": #fdf5e6,
  "olive": #808000,
  "olivedrab": #6b8e23,
  "orange": #ffa500,
  "orangered": #ff4500,
  "orchid": #da70d6,
  "palegoldenrod": #eee8aa,
  "palegreen": #98fb98,
  "paleturquoise": #afeeee,
  "palevioletred": #db7093,
  "papayawhip": #ffefd5,
  "peachpuff": #ffdab9,
  "peru": #cd853f,
  "pink": #ffc0cb,
  "plum": #dda0dd,
  "powderblue": #b0e0e6,
  "purple": #800080,
  "rebeccapurple": #663399,
  "red": #ff0000,
  "rosybrown": #bc8f8f,
  "royalblue": #4169e1,
  "saddlebrown": #8b4513,
  "salmon": #fa8072,
  "sandybrown": #f4a460,
  "seagreen": #2e8b57,
  "seashell": #fff5ee,
  "sienna": #a0522d,
  "silver": #c0c0c0,
  "skyblue": #87ceeb,
  "slateblue": #6a5acd,
  "slategray": #708090,
  "slategrey": #708090,
  "snow": #fffafa,
  "springgreen": #00ff7f,
  "steelblue": #4682b4,
  "tan": #d2b48c,
  "teal": #008080,
  "thistle": #d8bfd8,
  "tomato": #ff6347,
  "turquoise": #40e0d0,
  "violet": #ee82ee,
  "wheat": #f5deb3,
  "white": #ffffff,
  "whitesmoke": #f5f5f5,
  "yellow": #ffff00,
  "yellowgreen": #9acd32,
);

@mixin generate-background-colors($borders: true) {
  @each $name, $hex in $color-map {
    &[data-color-#{$name}] {
      background-color: $hex;
    }
  }

  background-color: var(--color);
}

.main {
  width: 50%;
  height: 100%;
}

.wave-list {
  width: var(--width, 70%);

  .title {
    width: 65%;

    .text {
      @include generate-background-colors;

      align-items: center;
      display: flex;
      font-size: 1.5em;
      height: 2.25em;
      justify-content: left;
      position: relative;

      &::before,
      &::after {
        bottom: auto;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
      }

      &::before {
        background-image: radial-gradient(circle at 10px 15px, transparent 12px, white 13px);
        background-size: 20px 20px;
        height: 0.4em;
      }

      &::after {
        background-image: radial-gradient(circle at 10px 0px, white 12px, transparent 13px);
        background-size: 40px 20px;
        height: 0.6em;
      }
    }
  }

  .list {
    width: 100%;
    padding: 0;
    margin: 0;

    .item {
      @include generate-background-colors();

      padding: 0.35em;
      margin: 0;
      list-style: none;
    }
  }
}
